.header{
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    overflow-y: hidden;

}

.header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .sideBar{
    position: relative;
    top: 20%;
  }

  .logoTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  .logo{
    width: 410px;
    height: 138.141px;
  }
.logoTitle h2,H1 {
    color: white;
    text-shadow: 0 0 6px #2f3759;
    font-size: 6rem;
}

.time-Counter{
    background-color:#8a1538;
    text-align: center;
    padding: 20px;
    font-family: graphik,Helvetica,Arial,sans-serif;
    font-size: 1.8rem;
    color:wheat ;
}
.timeHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.matchTable{
  background-color: #8a1538;
}

.container{
  padding: 0;
}

.oh{
  background-color: #8a1538;
}
.ob{
	font-size: 2.5rem;
  background-color: #8a1538;
  text-align: center;
}

.navlink{
  color: white !important;
}
.navlink:hover{
  color: wheat !important;
}
#FUT{
  background:50% no-repeat;
  background-size: cover;
}
.hr{
  width: 40%;
  height: 1px;
  border-top: 1px solid #c8c8c8;
  margin: 40px 0;
}
.editForm{
  padding: 10px;
}
